<a href="https://colab.research.google.com/github/VitorFRodrigues/Data-science/blob/main/Processo_Sel_Itau_05_08_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

In [2]:
agrupamento = pd.read_csv("/content/agrupamento.csv", encoding="ISO-8859-1")
agrupamento.head()

         x0        x1        x2        x3        x4
0  5.447043  6.319084  2.664620  6.568743  4.802295
1  4.875562  4.796801  2.154231  6.832907  5.321401
2  5.582920  5.060775  1.895917  6.004299  6.330105
3  6.370727  3.717727  1.729007  5.923414  4.533557
4  4.789262  4.510056  0.669330  7.731273  4.272356

In [3]:
classificacao_Q1 = pd.read_csv("/content/classificacao_Q1.csv", encoding="ISO-8859-1")
classificacao_Q1.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,target
0,-1.79796,-1.75901,-2.14257,-0.01878,-0.58601,-3.08224,-1.71369,1.41805,2.29783,1.11745,-3.43483,1.94926,0
1,-2.78612,-1.60622,-4.05247,3.33814,1.44255,-3.95343,-3.32328,0.71019,2.31973,0.57596,-4.22278,0.51171,0
2,-1.31957,2.61125,-0.99663,0.34752,0.85253,4.22652,0.84765,0.88530,-1.01460,1.03488,-0.84593,2.64307,1
3,-3.26219,-2.11510,0.68081,-0.49290,-2.45122,-2.37668,-0.00338,3.95559,1.42793,1.68710,-1.35533,2.82004,0
4,5.26181,1.85527,-2.29242,-0.86763,0.11625,-2.17675,-1.72692,-2.34726,1.98107,-4.58177,-2.26649,-3.33875,1

In [4]:
classificacao_Q2 = pd.read_csv("/content/classificacao_Q2.csv", encoding="ISO-8859-1")
classificacao_Q2.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,target
0,-1.39917,0.96108,-0.36145,0.26092,2.78953,-1.55046,-0.79886,0.24304,1.51733,-0.03357,-1.51127,-0.97444,-0.01934,0
1,-2.48564,1.24529,-0.39431,1.06648,1.71957,-0.60296,-2.35698,-2.31878,0.95555,-2.00420,-0.75294,-3.64680,-0.55923,0
2,-0.57025,0.65495,-0.73706,0.22444,-0.44094,-0.42596,0.44267,-1.74196,-0.06599,-0.36783,0.93065,-0.72392,0.37139,0
3,2.10165,1.46236,-0.25678,2.58908,-3.40158,2.43561,0.74701,-0.65229,-0.45497,-1.57951,2.07367,1.86435,-0.37664,1
4,3.01588,-2.50913,-2.01442,2.10296,-3.05465,5.38227,0.46846,1.57586,3.02176,-0.86271,-1.14418,-0.89712,0.61823,1

In [5]:
regressao_Q1 = pd.read_csv("/content/regressao_Q1.csv", encoding="ISO-8859-1")
regressao_Q1.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,target
0,-0.97127,-0.56128,1.20414,2.25145,-0.25802,0.06246,-1.78623,-0.27690,-0.22255,0.20963,-0.062202
1,0.89456,-0.94099,-0.19972,-0.08354,-0.96865,0.62801,0.91543,0.20413,-0.13587,0.96820,0.112596
2,-0.98777,-0.55565,-0.94141,-1.86277,0.38659,-0.02523,-1.26714,1.07328,-0.28350,0.34430,0.167633
3,0.03972,-0.99258,0.63481,0.01554,-0.39203,-0.72647,0.46098,0.79395,0.22686,0.25065,-0.844727
4,-1.66022,-0.06734,-0.72252,-1.32035,0.06715,2.39937,-1.30566,-0.65222,0.36628,0.31644,2.221942

In [6]:
regressao_Q2 = pd.read_csv("/content/regressao_Q2.csv", encoding="ISO-8859-1")
regressao_Q2.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,target
0,1.92864,1.48414,0.86814,-0.67666,-0.28747,-1.45108,-0.73662,0.03134,-0.53872,1.30562,0.11557,-0.30478,127.682465
1,0.22185,-0.55320,-0.29845,0.65870,-0.30132,1.49319,-0.43096,0.33835,-0.30827,1.25765,1.88584,-0.57726,50.022972
2,-0.02183,0.13602,-0.37426,-1.29096,0.71912,1.95088,1.99309,-1.24197,-2.15377,-2.01455,-0.84625,0.29845,-24.364369
3,0.86528,1.36937,1.27999,1.18124,-0.72465,-0.02175,0.40340,-0.28272,-0.44390,0.84051,0.03326,-0.98550,96.415408
4,1.41333,-0.02920,-0.67228,1.76116,-1.12178,0.18002,0.48476,-0.76394,-0.16421,-2.42048,0.79727,-0.44033,157.407129

In [7]:
def separar_x_y(dados):
  x_columns = dados.columns
  y = dados["target"]
  x = dados[x_columns].drop(["target"], axis=1)
  return  x,y

In [8]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import KFold

def roda_cv_modelo(modelo, dados, n_splits, n_repeats, valor_corte=0.95):

  # np.random.seed(1231234) # seed para garantir a reprodutibilidade do teste
  # dados = dados.sample(frac=1).reset_index(drop=True) #embaralha os dados recebidos para evitar viés de ordem
  
  x,y = separar_x_y(dados)
  
  cv = KFold(n_splits = n_splits)
  resultados = cross_validate(modelo, x, y, cv=cv) #teste score retorna como padrão a acurácia, com o "scoring='roc_auc'" nós garantimos que o retorno do teste score seja a AUC 
  print(resultados)

  #Média e Desvio Padrão
  auc_media = np.mean(resultados['test_score'])
  auc_std = np.std(resultados['test_score'])
  print(f"AUC Médio do Modelo {type(modelo).__name__}: {auc_media:.4f}")
  print(f"Intervalo do Modelo {type(modelo).__name__}: [{(auc_media - 2*auc_std):.4f},{(auc_media + 2*auc_std):.4f}]")
  print(f"Diferença: {4*auc_std:.4f}\n") 

  return modelo

In [9]:
from sklearn.linear_model import ElasticNet
modelo_ElasticNet = ElasticNet(l1_ratio=0.001)

In [10]:
roda_cv_modelo(modelo_ElasticNet, regressao_Q1, 5, 1)

{'fit_time': array([0.0069294 , 0.00281644, 0.00270939, 0.00288963, 0.00286865]), 'score_time': array([0.0027287 , 0.00207639, 0.00197768, 0.00193572, 0.00192666]), 'test_score': array([0.73089597, 0.73956992, 0.73265675, 0.73178178, 0.73727018])}
AUC Médio do Modelo ElasticNet: 0.7344
Intervalo do Modelo ElasticNet: [0.7277,0.7412]
Diferença: 0.0135

ElasticNet(l1_ratio=0.001)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
X,y = separar_x_y(regressao_Q1)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.7,
                                                    test_size = 0.3, random_state=40)
scores = cross_val_score(modelo_ElasticNet, X_train, y_train, cv=5)
scores

array([0.73463841, 0.73174948, 0.74110512, 0.73898893, 0.74073459])

In [12]:
modelo_ElasticNet.fit(X_train, y_train).score(X_test, y_test)

0.7388842720409683

In [13]:
from sklearn.svm import SVC
modelo_SVC = SVC(kernel="linear")

In [14]:
roda_cv_modelo(modelo_SVC, regressao_Q2, 5, 1)

{'fit_time': array([0.00487685, 0.00333309, 0.0022552 , 0.00233436, 0.00229454]), 'score_time': array([0., 0., 0., 0., 0.]), 'test_score': array([nan, nan, nan, nan, nan])}
AUC Médio do Modelo SVC: nan
Intervalo do Modelo SVC: [nan,nan]
Diferença: nan

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 5.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py", line 199, in fit
    y = self._validate_targets(y)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py", line 716, in _validate_targets
    check_classification_targets(y)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/multiclass.py", line 197, in check_classification_targets
    raise ValueError("Unknown label type: %r" % y_type)
ValueError: Unknown label type: 'continuous'

  warnings.warn(some_fits_failed_message, FitFailedWarning)

SVC(kernel='linear')

In [15]:
from sklearn.svm import SVC

In [16]:
from sklearn.metrics import mean_absolute_percentage_error
y_true_a = [0.1, 0.0, 0.2, 0.1]
y_true_b = [0.11, 0.01, 0.2, 0.1]
y_true_c = [0.1, 0.2, 0.2, 0.1]
y_true_d = [0.1, 0.1, 0.1, 0.1]

y_pred = [0.1, 0.0, 0.2, 0.1]

In [17]:
mean_absolute_percentage_error(y_true_a, y_pred)

0.0

In [18]:
mean_absolute_percentage_error(y_true_b, y_pred)

0.2727272727272727

In [19]:
mean_absolute_percentage_error(y_true_c, y_pred)

0.25

In [20]:
mean_absolute_percentage_error(y_true_d, y_pred)

0.5

In [21]:
from sklearn.tree import DecisionTreeClassifier
modelo_DecTree = DecisionTreeClassifier(criterion="entropy")

In [22]:
roda_cv_modelo(modelo_DecTree, classificacao_Q1, 10, 1)

{'fit_time': array([0.02058911, 0.02971697, 0.02090573, 0.0210259 , 0.0221312 ,
       0.02046132, 0.02252531, 0.02455425, 0.02113032, 0.03204298]), 'score_time': array([0.00161028, 0.0014379 , 0.00124288, 0.00121427, 0.00131321,
       0.00118351, 0.00128031, 0.00275946, 0.00185895, 0.00136256]), 'test_score': array([0.90555556, 0.9       , 0.85555556, 0.93333333, 0.9       ,
       0.9       , 0.89444444, 0.96666667, 0.91666667, 0.92777778])}
AUC Médio do Modelo DecisionTreeClassifier: 0.9100
Intervalo do Modelo DecisionTreeClassifier: [0.8547,0.9653]
Diferença: 0.1106

DecisionTreeClassifier(criterion='entropy')

In [27]:
from sklearn.metrics import log_loss
X,y = separar_x_y(classificacao_Q1)
y_true = y
y_pred = modelo_DecTree.fit(X,y).predict(X)
log_loss(y_true, y_pred)

9.992007221626413e-16

In [30]:
from sklearn.linear_model import LogisticRegression
modelo_LogReg = LogisticRegression(penalty="l2", C=0.1)

In [31]:
roda_cv_modelo(modelo_LogReg, classificacao_Q2, 10, 1)

{'fit_time': array([0.02161193, 0.01360631, 0.01447582, 0.01389074, 0.01470399,
       0.01501083, 0.01363349, 0.01383662, 0.02991319, 0.01407218]), 'score_time': array([0.00228024, 0.00194335, 0.00200868, 0.00207853, 0.002069  ,
       0.00197029, 0.00201178, 0.00178003, 0.00220561, 0.00185323]), 'test_score': array([0.8  , 0.816, 0.764, 0.832, 0.816, 0.848, 0.812, 0.78 , 0.832,
       0.78 ])}
AUC Médio do Modelo LogisticRegression: 0.8080
Intervalo do Modelo LogisticRegression: [0.7572,0.8588]
Diferença: 0.1017

LogisticRegression(C=0.1)